<!DOCTYPE html>
<html>
    <mat-toolbar class = "toolbar">
        <span class = "title">Treello</span>
        <span>Add task</span>
      </mat-toolbar>
    <body>
        <div cdkDropListGroup>
            <div>
                <app-container *ngFor="let list of lists" [title]="list.name">
                    <div
                    class="list"
                    cdkDropList [cdkDropListData]="list"
                    (cdkDropListDropped)="drop($event)">

                        <div style="color: transparent;">-</div>

                        <div *ngFor="let item of list.tasks" cdkDrag [cdkDragData]="item" class="task">
                            <app-task [item]="item"></app-task>
                        </div>
                    </div>
                </app-container>
            </div>
        </div>
    </body>
</html>