<!DOCTYPE html>
<html>
    <mat-toolbar class = "toolbar">
        <span class = "title">Treello</span>
      </mat-toolbar>
    <body>
        <div cdkDropListGroup>
            <div>
                <app-container *ngFor="let list of lists" [container]="list" (applyChanges)="onChanges()">
                    <div
                    class="list"
                    cdkDropList [cdkDropListData]="list"
                    (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of list.tasks" cdkDrag [cdkDragData]="item" class="task">
                            <app-task [item]="item" (applyChanges)="onChanges()"></app-task>
                        </div>
                    </div>
                </app-container>
                <app-new-container [containers]="lists" (applyChanges)="onChanges()"></app-new-container>
            </div>
        </div>
    </body>
</html>